{{ form_start(genusForm) }}
    {{ form_row(genusForm.name) }}
    {{ form_row(genusForm.subFamily, {
      label: 'Taxonomic SubFamily',
      attr: {
        class: 'foo'
      },
      placeholder: 'Select a Subfamily'
    }) }}
    {{ form_row(genusForm.speciesCount, {
        'label': 'Number of Species'
    }) }}
    {{ form_row(genusForm.funFact) }}
    {{ form_row(genusForm.isPublished, {
      help: 'Should this genus be shown on the site?'
    }) }}
    
    {{ form_label(genusForm.firstDiscoveredAt.year) }}
    <select name="{{genusForm.firstDiscoveredAt.year.vars.full_name}}" 
        id="{{genusForm.firstDiscoveredAt.year.vars.id}}">
    </select>
    {{ form_errors(genusForm.firstDiscoveredAt.year) }}
    
    {{ form_row(genusForm.firstDiscoveredAt.month) }}
    {{ form_row(genusForm.firstDiscoveredAt.day) }}

    <button type="submit" class="btn btn-primary" formnovalidate>Save</button>
{{ form_end(genusForm) }}
